@bootstrap-path: "bootstrap/less";
@import "@{bootstrap-path}/variables.less";
@font-size-base: 16px;
// override variables here
@brand-primary: #5DCADD;
@brand-secondary: #F03238;
@navbar-height: 90px;
@body-alt-bg: #f3f3f3;//#fdfdfd;
@navbar-default-bg: @body-bg;//mix(@brand-primary, @body-bg);
@navbar-default-color: @brand-secondary;
@headings-font-family: 'Open Sans', sans-serif;
@headings-font-weight: 100;

@link-color: @brand-secondary;
