
</div><!-- ./ page-wrapper -->


<footer>
  <ul>
    <li>
      <a title="kontakt@friedrichshain-hilft.de" href="mailto:kontakt@friedrichshain-hilft.de">Kontakt</a>
    </li>
    <li class="sn">
      <a title="Auf Twitter" href="https://twitter.com/fhainhilft">
        <i class="sn-icon-twitter"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li class="sn">
      <a title="Auf Facebook" href="https://www.facebook.com/friedrichshainhilft">
        <i class="sn-icon-facebook-squared"></i>
        <span>Facebook</span>
      </a>
    </li>
    <li>Impressum (Canan Bayram Rechtsanwältin Pettenkoferstr 16 - 18, 10247 Berlin)</li>
  </ul>
</footer>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/scripts.js"></script>
</body>
</html>
