<!DOCTYPE html>
<html class="no-js" lang="{{ if isset .Params "languagecode" }}{{ .Params.languagecode }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  {{ partial "html-head-meta" . }}
</head>
<body {{ if .IsHome }}class="home"{{ end }}>
<div class="page-wrapper">
  <header>
    <a href="{{ .Site.BaseURL }}" class="col-xs-3 logo"></a>
    <h1 class="col-xs-9 col-sm-6"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <div class="hidden-xs col-sm-3">
      {{ partial "quick-links.html" . }}
    </div>
  </header>

  {{ partial "menu.html" . }}
