<!DOCTYPE html>
<html class="no-js" lang="{{ if isset .Params "languagecode" }}{{ .Params.languagecode }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  {{ partial "html-head-meta" . }}
</head>
<body>
{{ partial "menu.html" . }}
<div class="page-wrapper">
  <header>
    <a class="site-link" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <h1>{{ .Title }}</h1>
    <div class="hidden-xs">
      {{ partial "quick-links.html" . }}
    </div>
  </header>
