<nav class="site-menu">
  <ul>
    <li class="on-home"><a href="{{ .Site.BaseURL }}#spenden">Spenden</a></li>
    <li class="on-home"><a href="{{ .Site.BaseURL }}#willkommen">Willkommen im Kiez</a></li>
    <li class="on-home"><a href="{{ .Site.BaseURL }}#aktionen">Aktionen</a></li>
    <li class="on-home"><a href="{{ .Site.BaseURL }}#helfen-im-andere-kiez">Helfen in einem anderen Kiez</a></li>
    <li class="on-home"><a href="{{ .Site.BaseURL }}#tweets">Twitter feed</a></li>
    <li><a href="{{ .Site.BaseURL }}digitale-helfer">Digitale Helfer</a></li>
  </ul>
</nav>
