{{ partial "header.html" . }}
  <div class="page-content">
    <section id="spenden">
      <header>
        <h1>Spenden</h1>
      </header>
      <div class="content">
        <p>
          Momentan ist unsere Kleiderkammer voll.
          Das ist toll und wir freuen uns über die überwältigende Hilfsbereitschaft der Friedrichshainer.
          Neue Spenden können wir vorerst nicht mehr annehmen.
        </p>
        <p>
          Daher öffnen wir unserer Kleiderkammer für Flüchtlinge und andere Bedürftige,
          in der <strong>Rigaer Straße 78, 10247 Berlin-Friedrichshain</strong>, zu folgenden Zeiten:
        </p>
        <ul>
          <li>
            Dienstag 10-14 Uhr
          </li>
          <li>
            Mittwoch 16-20 Uhr
          </li>
          <li>
            Donnerstag 10-14 Uhr
          </li>
        </ul>
        <p>
          Sobald wir wieder Platz haben, benachrichtigen wir Dich hier wann Du Kleiderspenden abgeben kannst.
          In der Zwischenzeit kannst Du <a href="#helfen-im-andere-kiez">Dich hier</a> über die Bedarfslisten anderer Berliner Initiativen informieren.
        </p>
        <p>
          <strong>Folgende Dinge werden immer benötigt</strong>
        </p>
        <ul>
          <li>Fahrkarten BVG (2 Stunden Tickets AB)</li>
          <li>Hygieneartikel (bitte nur verschlossen)</li>
          <li>Guthabenkarten für lebara, eplus und lycamobile (keine SIM Karten mehr, DANKE! :)</li>
          <li>Smartphones mit Ladekabel</li>
          <li>Gutscheine DM, Rossmann, etc.</li>
          <li>Bekleidungsgutscheine (Leichter zu lagern als Bekleidung, unser Lager ist sehr klein).</li>
        </ul>
      </div>
    </section>

    <section id="willkommen">
      <header>
        <h1>Willkommen im Kiez</h1>
      </header>
      <div class="content">
        <p>
          Auch über die Soforthilfe hinaus wollen wir Menschen in Friedrichshain willkommen heißen und dazu beitragen, dass sie hier gut "ankommen", sich schnell im Kiez zurechtfinden, persönliche Kontakte knüpfen und Perspektiven entwickeln können.
        </p>
        <p>
          Nicht nur als HelferInnen sondern auch als NachbarInnen wollen wir den hier eintreffenden und auch den schon jetzt hier lebenden geflüchteten Menschen begegnen.<br/>
          Auf Augenhöhe und im Gespräch mit den geflüchteten Menschen, ausgehend von ihren Bedürfnissen und Ideen, wollen wir Begegnungen außerhalb des "Unterkunftsalltags" schaffen. Wenn Du Dich einbringen möchtest und eine Veranstaltung oder ein Projekt wie z.B Sport machen, musizieren, KIEZspaziergänge, gemeinsame Aktivitäten im Alltag, Deutschkurse usw.  in Friedrichshain starten möchtest, dann schreib uns doch bitte eine Mail an <a href="mailto:helfen@friedrichshain-hilft.de">helfen@friedrichshain-hilft.de</a>
        <!-- FOTOS VON FRIEDRICHSHAIN --></p>
      </div>
    </section>

    <section id="aktionen">
      <header>
        <h1>Aktionen</h1>
      </header>
      <div class="content">
        Hier findest Du alle Aktionen im Überblick:
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;height=400&amp;wkst=2&amp;hl=de&amp;bgcolor=%23FFFFFF&amp;src=l3b5ifeu9bt0egr5nqehkp98fg%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FBerlin" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>
        <!--
        {{ partial "google-calendar" . }}
        -->
      </div>
    </section>

    <section id="verein">
      <header>
        <h1>Verein Friedrichshain hilft e.V.</h1>
      </header>
      <div class="content">
        <p>
          Wir sind gerade dabei einen gemeinnützigen Verein zu gründen. Weitere Infos folgen.<br/>
          Wenn Du Dich in diesem Verein engagieren möchtest, dann schreib bitte an <a href="mailto:kontakt@friedrichshain-hilft.de">kontakt@friedrichshain-hilft.de</a>.
        </p>
      </div>
    </section>


    <section id="helfen-im-andere-kiez">
      <header>
        <h1>Helfen in einem anderen Kiez</h1>
      </header>
      <div class="content">
        <p>
        Hier sind noch andere Berliner Initiativen, die sich für Flüchtlinge einsetzen.
        </p>
        <ul>
          <li><a href="https://docs.google.com/spreadsheets/d/1HdzF4j01lrif-XtmQLTwznnQrAlfoBc-JxccyP7NAmU/pubhtml?gid=672621891&single=true">Moabit hilft (Bedarfsliste LaGeSo)</a></li>
          <li><a href="http://www.eaurich.de/Welcome/index.html">Allende Viertel</a></li>
          <li><a href="http://www.berliner-stadtmission.de/wie-sie-helfen/mitmachen/sachspende">Berliner Stadtmission</a></li>
          <li><a href="http://www.charlottenburg-hilft.de/?page_id=6">Charlottenburg hilft</a></li>
          <li><a href="http://www.lichtenberg-hilft.de/index.php?id=2">Karlshorst hilft</a></li>
          <li><a href="http://kreuzberg-hilft.com/bedarfsliste/">Kreuzberg hilft</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1IPzRSzWPeuJdgGYRCW4KF9CDmWuGsd5s90IqBK6oyeY/edit#gid=0">Olympiapark</a></li>
          <li><a href="http://www.pankow-hilft.de/">Pankow hilft</a></li>
          <li><a href="https://docs.google.com/document/d/17Hyj3w-rEBpSrtKjezrldJnVvKlg34lDXMs6W5WSLms/pub">Schöneberg hilft</a></li>
          <li><a href="https://docs.google.com/document/d/1qS7GbM1APqXvTGGxi7ZOqOX-BjHxCrT-oDQv4CSqz8M/pub">Spandau hilft</a></li>
          <li><a href="http://www.wedding-hilft.de/">Wedding hilft</a></li>
          <li><a href="https://www.wilhelmstadt-hilft.org/kleiderkammer/bedarfsliste/">Wilhelmsstadt hilft</a></li>
          <li><a href="https://www.facebook.com/Fl%C3%BCchtlinge-willkommen-in-Buch-und-Karow-1481160482158156/timeline/">Willkommen in Buch und Karow</a></li>
          <li><a href="https://willkommeninmarzahn.wordpress.com/category/allgemein/">Willkommen in Marzahn</a></li>
          <li><a href="http://www.wir-netzwerk.de/index.php/unterstuetzung/spenden">Willkommen in Reinickendorf</a></li>
          <li><a href="http://www.wir-netzwerk.de/index.php/unterstuetzung/spenden">Willkommen in Steglitz-Zehlendorf</a></li>
          <li><a href="http://willkommen-im-westend.de/?page_id=348">Willkommen im Westend</a></li>
          <li><a href="https://docs.google.com/document/d/1OE8ihCHwcJqMy6fTSw_xR-nax7ZFz-PCNemGhpZCdHw/pub">Wilmersdorf hilft</a></li>
        </ul>
      </div>
    </section>


    <section id="tweets">
      <header>
        <h1>Twitter feed</h1>
      </header>
      <div class="content">
        {{ partial "tweets" . }}
      </div>
    </section>
  </div>



{{ partial "footer.html" . }}
